<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% include "partials/meta-info.html" %}
  <link rel="icon" href="/images/neuraltalks.ico" type="image/x-icon">
  <link rel="stylesheet" href="/global.css">
</head>

<body class="bg-[#0a0f0d] text-[#e8f5e9]">
  <a href="#main-content" class="sr-only focus:not-sr-only focus:absolute focus:top-2 focus:left-2 focus:z-50 focus:px-4 focus:py-2 focus:bg-green-600 focus:text-white focus:rounded">Skip to main content</a>
  {% include "partials/site-header.html" %}

  <main tabindex="-1" id="main-content" class="flex flex-col max-w-screen-xl mx-auto w-11/12 sm:w-10/12">
    {% block content %} {% endblock %}
  </main>

  {% include "partials/site-footer.html" %}
</body>

</html>
