{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = summary %}

{% block content %}
<div id="hero" class="hero fade-in flex flex-col justify-center pa-4" style="min-height: 400px;">
  <div class="flex">
    <img src="images/about/cover.png" alt="">
  </div>
  <div class="hero__inner flex flex-col pt-8 pb-12">
    <h1 class="text-7xl leading-none mb-6 order-2 font-serif font-medium">Welcome to my world!</h1>
    <p class="uppercase font-bold mb-4 text-xl order-1 text-amber-600">
      Hej, My name is Son
    </p>
    <div class="text-2xl font-light leading-snug order-3">
      <p class="m-0">
        As a dynamic digital transformer who focuses on human rights, diversity, inclusion, and digital creativity, I have worked for more than six years in diverse organizations and business models. For me, communication and technology are a rope connecting people, and together we spread positivity.
      </p>
    </div>
  </div>
</div>

{% include "partials/featured-projects.html" %}

{% include "partials/experience.html" %}

{% include "partials/education.html" %}

{% endblock %}
