<div id="featured-projects" class="flex flex-col mb-20">


  <section id="education" class="w-full pt-4 pb-8">
    <h2 class="font-serif text-3xl mb-6">Education</h2>
    <a href="https://www.sh.se/english/sodertorn-university" target="_blank" class="bg-white border-4 border-transparent hover:border-amber-200 shadow-sm hover:shadow-md p-4 rounded-md flex mb-4">
      <div class="flex-shrink-0 flex-grow-0">
        <span class="inline-block w-12 mr-2">
          <object data="images/about/sodertorn_logo.png" alt="Sodertorn" class="block mx-auto w-10/12"></object>
        </span>
      </div>
      <div class="sm:w-full sm:border-none md:border-r-2 md:border-dotted md:border-gray-300 pr-2">
        <p class="font-bold text-gray-900">Södertörn University</p>
        <p class="font-normal text-gray-700">Master in Environmental Science of Infectious Disease Control</p>
      </div>
      <div class="w-2/5 xs:w-full">
        <p class="text-right text-gray-700 font-light">Aug 2021 - Present</p>
        <p class="text-right text-gray-700 font-light">Stockholm, Sweden</p>
      </div>
    </a>

    <a href="https://hermods.se/" target="_blank" class="bg-white border-4 border-transparent hover:border-amber-200 shadow-sm hover:shadow-md p-4 rounded-md flex mb-4">
      <div class="flex-shrink-0 flex-grow-0">
        <span class="inline-block w-12 mr-2">
          <object data="images/about/Hermods_Logo.png" alt="Hermods" class="block mx-auto w-10/12"></object>
        </span>
      </div>
      <div class="sm:w-full sm:border-none md:border-r-2 md:border-dotted md:border-gray-300 pr-2">
        <p class="font-bold text-gray-900">Hermods AB</p>
        <p class="font-normal text-gray-700">Language Programs (Swedish, English) </p>
      </div>
      <div class="w-2/5 xs:w-full">
        <p class="text-right text-gray-700 font-light">Sep 2020 - Jun 2021</p>
        <p class="text-right text-gray-700 font-light">Stockholm, Sweden</p>
      </div>
    </a>

    <a href="http://en.hunre.edu.vn/hunre-en/trang-chu" target="_blank" class="bg-white border-4 border-transparent hover:border-amber-200 shadow-sm hover:shadow-md p-4 rounded-md flex mb-4">
      <div class="flex-shrink-0 flex-grow-0">
        <span class="inline-block w-12 mr-2">
          <object data="images/about/hunre_university_logo.png" alt="HUNRE" class="block mx-auto w-10/12"></object>
        </span>
      </div>
      <div class="sm:w-full sm:border-none md:border-r-2 md:border-dotted md:border-gray-300 pr-2">
        <p class="font-bold text-gray-900"> Hanoi University of Natural Recources and Environment</p>
        <p class="font-normal text-gray-700"> Engineer Degree in Marine Management</p>
      </div>
      <div class="w-2/5 xs:w-full">
        <p class="text-right text-gray-700 font-light">Aug 2014 - Jun 2018</p>
        <p class="text-right text-gray-700 font-light">Hanoi, Vietnam</p>
      </div>
    </a>
  </section>

</div>
